*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: wheat;
}
.main_box h1{
    margin-bottom: 10px;
}
.get_city{
    padding: 20px;
    background-color: whitesmoke;
}
.set_data{
    margin-top: 20px;
    padding: 20px;
    background-color: gray;
}
.set_data *{
    color: white;
    margin-top: 10px;
    font-size: large;
    font-style: italic;
    font-family: sans-serif;
}
